$chamferedClip: polygon(0 0, calc(100% - 8px) 0, 100% 8px, 100% 100%, 8px 100%, 0 calc(100% - 8px));

$backgroundColor: #414040;
$accentColor: #1189da;
$clickedAccentColor :#116fda;
$textColor: #f5f5f5;
$borderColor: #f5f5f5;